node_modules
/src/**/*/wall*.json
# Firebase local emulator configurations
.firebaserc
firebase-debug.log
firebase.json
firestore-debug.log
firestore.indexes.json
storage.rules
firestore.rules
ui-debug.log
firebase-debug.log

.env
